name: Try Stuff

on:
  push:

permissions: write-all
jobs:
  init:
    name: Ensure GitHub Environments
    runs-on: ubuntu-latest

    steps:
      - name: Ensure GitHub Environments
        uses: actions/github-script@v6
        with:
          script: |
            const environments_result = await github.rest.repos.getAllEnvironments({
              owner: context.repo.owner,
              repo: context.repo.repo,
            });

            const environments = environments_result.data.environments;

            const names = ['Dev', 'Test', 'Pre-Prod', 'Prod', 'Boom'];

            for (let i = 0; i < names.length; i++) {
              const name = names[i];
              const exists = environments.some(e => e.name === name);
              if (!exists) {
                const environment_result = await github.rest.repos.createOrUpdateEnvironment({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  environment_name: name
                });
              }
            }
